@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Inter:400,500&display=swap");

body {
  font-family: "Inter", serif;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.border-gradient {
  position: relative;
  border-radius: 20px; /* Adjust the border radius as needed */
  overflow: hidden; /* Clip the gradient overflow */
  border-color: #fff;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-image: linear-gradient(to bottom, #5afd20, #efff33) 1;
  border-radius: 20px; /* Same as parent border-radius */
}
#nprogress .bar {
  background: #008000 !important;
}
/* #nprogress .peg {
  box-shadow: 0 0 10px #ffbb00, 0 0 5px #ffbb00 !important;
  background: #000;
} */
